@import "config";
@import "utilities";
@import "buttons";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
}

img {
  width: 100%;
}

.showcase {
  // background-color: $primary-color;
  // color: set-text-color($primary-color);
  @include set-background($primary-color);
  height: 600px;

  nav {
    // outline: 1px solid red;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;
      list-style-type: none;

      a {
        text-decoration: none;
        color: set-text-color($primary-color);
        margin-left: 1rem;
        font-size: 1.2rem;
      }
      a:hover {
        color: $secondary-color;
      }
    }
  }

  .showcase-content {
    // outline: 1px solid $secondary-color;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      line-height: 1.2;
      font-size: 50px;
      max-width: 30rem;
    }
  }
}

a {
  text-decoration: none;
}

// .btn-secondary {
//   display: inline-block;
//   outline: lightcoral solid 1px;
//   background-color: lightcyan;
//   border-radius: 5px;
// }

@import "mobile";
